.footer {
    margin-top: 60px;
    text-align: right;
    font-size: 1.6rem;
    margin-right: 20px;
    color: #6e6e6e;
    padding-bottom: 20px;
    padding-right: 20px;
}

.vector {
    text-align: right;
    font-size: 1.6rem;
    margin-right: 20px;
    color: #6e6e6e;
    padding-bottom: 20px;
    padding-right: 20px;
}

.vector a {
    color: inherit;
    text-decoration: none;
}

.App {
    background: #0ebe96;
    height: 100vh;
    padding-bottom: 30px;

}