.footer {
    margin-top: 60px;
    text-align: right;
    font-size: 1.6rem;
    margin-right: 20px;
    color: #6e6e6e;
    padding-bottom: 20px;
    padding-right: 20px;
}

.App {
    background: #69a0a3;
    height: 100vh;
    padding-bottom: 30px;

}