.Banner {
    background: url('../../images/605.jpg') no-repeat center center fixed;
    background-size: contain;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.banner__content {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    align-items: center;
}

.banner__text {
    height: 50%;
    width: 50%;
}
/*

.banner__img {
    width: 50%;
    padding: 0;
    margin: 0;
    background: url('../../images/603.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;

}

.banner__text {
    width: 50%;
} */

/* .banner__content img {
    height: auto; 
    width: auto; 
    min-width: 700px; 
    min-height: 700px;
    padding: 0;
    margin: 0;

} */