.Banner {
    background: url('../../images/605.jpg') no-repeat center center fixed;
    background-size: contain;
    height: 90%;
    display: flex;
    justify-content: flex-end;
}

.banner__content {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    color: #262d3f;
}

.banner__text {
    height: 50%;
    width: 50%;
}

.banner__text h1 {
    font-size: 5rem;
}

.banner__content-sm {
    display: none;
}


@media (max-width: 800px) {
    .Banner {
        background: url('../../images/606.jpg') no-repeat center center fixed;
        background-size: contain;
    }

    .banner__content {
        display: none;
    }

    .banner__content-sm {
        display: block;
        background: #69a0a3;
    }

}