.draggable {
    padding: 12px 20px;
    margin: 20px 0 0 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #6e6e6e;
    background: white;
    font-family: 'Roboto', sans-serif;
    width: 300px;
    height: 300px;
    cursor: pointer;
}

.dropzone, .dropzone:active, .dropzone:focus {
    outline: none;
}

.draggable-p {
    color: #6e6e6e;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    
}

p .image-upload {
    border: 2px dashed #e2e2e2;
}

p .upload-success {
    border: 2px dashed #9ee5d5;
}
.image-upload {
    color: #e2e2e2;
    display: block;
    margin: 0 auto;
    font-size: 14rem;
    padding: 20px 70px;

}

.btn-cancel {
    background: #ff6666;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
    display: block;
    outline: none;
}

.btn-cancel:hover {
    background: #e55b5b;
}

.upload-success {
    color: #9ee5d5;
}