.heading {
    font-size: 4rem;
    color: #191919;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 102px;
    margin-bottom: 0;
    padding-left: 8px;
}

.subheading {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-top: 0;
    text-align: center;
}


.cards {
    margin-top: 80px;
    width: 100%;
}

.mg-small {
    margin-top: 30px;
}

.cards__wrapper {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.card {
    /* border: 2px solid #0EBE96; */
    position: relative;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 4px 17px -3px rgba(14,190,150,1);
}

.card-svg {
    font-size: 11rem;
    color: #0EBE96;

}

.question {
    color: #191919;
    font-size: 2rem;
    font-weight: 500;
    margin-top: 20px;
    width: 250px;
    text-align: center;
    line-height: 1.5;
}

.question p {
    color: #6e6e6e;
    font-size: 1.7rem;
    font-weight: 400;
}

.questions__wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

/*Media queries*/
@media (max-width: 1000px) {
    .cards__wrapper {
        flex-direction: column;
        align-items: center;
    }

}


