.jumbotron__wrapper {
    background: #ccdfe3;
    height: 500px;
    color: #328090;
}

.jumbotron__header {
    text-align: center;
    font-size: 3.7rem;
    padding-top: 50px;
    text-transform: uppercase;
}

.jumbotron__subheader {
    text-align: center;
    font-size: 1.4rem;
    
}

.cta {
    text-align: center;
}

.cta__button {
    background: #ffb732;
    display: inline-block;
    font-size: 1.5rem;
    padding: 20px 35px 20px 35px;
    margin-top: 24px;
    color: white;
    border-radius: 2px;
    -webkit-box-shadow: 4px 2px 17px 2px rgba(0,0,0,0.17);
    -moz-box-shadow: 4px 2px 17px 2px rgba(0,0,0,0.17);
    box-shadow: 4px 2px 17px 2px rgba(0,0,0,0.17);
    transition: all .3s ease-in-out;
    text-transform: uppercase;
}

.cta__button:hover {
    background: #ffa500;
    color: white;
}

.cards {
    margin-top: 80px;
    width: 100%;
}

.mg-small {
    margin-top: 30px;
}

.cards__wrapper {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.card {
    border: 2px solid #0EBE96;
    position: relative;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-svg {
    font-size: 8rem;
    color: #0EBE96;

}

.question {
    color: #0EBE96;
    font-size: 1.1rem;
    font-weight: 700;
    margin-top: 20px;
    width: 250px;
    text-align: center;
    line-height: 1.5;
}

.questions__wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

/*Media queries*/
@media (max-width: 750px) {
    .cards__wrapper {
      flex-direction: column;
      align-items: center;
    }

    .card:not(first-child) {
        margin-top: 40px;
    }
}