.jumbotron__wrapper {
    background: #ccdfe3;
    height: 500px;
    color: #328090;
}

.jumbotron__header {
    text-align: center;
    font-size: 5rem;
    padding-top: 50px;
}

.jumbotron__subheader {
    text-align: center;
    font-size: 2rem;
}

.cta {
    text-align: center;
}

.cta__button {
    background: #ffb732;
    display: inline-block;
    font-size: 3rem;
    padding: 25px 40px 25px 40px;
    margin-top: 24px;
    color: white;
    border-radius: 2px;
    -webkit-box-shadow: 4px 2px 17px 2px rgba(0,0,0,0.17);
    -moz-box-shadow: 4px 2px 17px 2px rgba(0,0,0,0.17);
    box-shadow: 4px 2px 17px 2px rgba(0,0,0,0.17);
    transition: all .3s ease-in-out;
}

.cta__button:hover {
    background: #ffa500;
    color: white;
}

.cards {
    margin-top: 80px;
    width: 100%;
}

.cards__wrapper {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.card {
    border: 2px solid #006175;
    position: relative;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-svg {
    font-size: 12rem;

}