.menu__wrapper {
 
}
.menu {
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-around;
    color: white;
    padding-top: 17px;
    padding-bottom: 12px;
    align-content: baseline;
}

.menu__item {
    color: #dee8e9;
    font-size: 1.6rem;
    font-weight: 200;
    margin-right: 15px;
    text-decoration: none;
}

.menu__item:hover {
    color: #bed2d3;
}

.brand {
    font-size: 2rem;
    font-weight: 700;
}
