.main-background {
    background: #0ebe96;
    height: auto;
    padding: 50px 11% 60px 11%;
}

.headings-light {
    color: #e6f8f4;
}

.brand-light {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #e6f8f4;
    text-decoration: none;
    font-weight: 500;
}

.heading-light {
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 0;
    padding-bottom: 0;
}

.subheading-light {
    font-size: 2rem;
    margin-top: 8px;
    padding-top: 0;
    font-weight: 300;
}

.info__form {
    height: 600px;
    background: #9ee5d5;
    border-radius: 5px;
}

.sections {
    display: flex;
    width: 70%;
    margin: 0 auto;
    padding-top: 20px;
    justify-content: center;
    font-size: 2rem;

}

.sections div {
    padding-left: 20px;
    padding-right: 20px;
    color: #56d1b5;
    border-bottom: 2px solid #56d1b5;
}

.sections .active {
    color: #191919;
    border-bottom: 2px solid #191919;
}

.form__wrapper {
    width: 70%;
    margin: 30px auto 0 auto;
}

.form__wrapper input, textarea{
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #6e6e6e;
    resize: none;
    font-family: 'Roboto', sans-serif;
}

.input__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input-lg {
    width: 100%;
}

.error {

}

.input-sm {
    width: 43%;
}

.counter {
    text-align: right;
    font-size: 1.5rem;
    margin-top: 0;
    color: #191919;
}

.react-datepicker {
    font-size: 1.2rem;
    width: 200px;
    border-radius: 2px;
    border: none;
}

.react-datepicker__header {
    width: 200px;
    background: #0ebe96;
}

.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
    font-size: 1.5rem;
    color: #e6f8f4;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle, .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before {
    border-bottom-color: #0ebe96;
}

.react-datepicker__navigation--next {

    border-left-color: #e6f8f4;
}

.react-datepicker__navigation--previous {
    border-right-color: #e6f8f4;
}

.react-datepicker__navigation--next:hover {

    border-left-color: #e6f8f4;
}

.react-datepicker__navigation--previous:hover {
    border-right-color: #e6f8f4;
}

.react-datepicker__day-name, .react-datepicker__time-name {
    color: #e6f8f4;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.react-datepicker__day {
    color: #191919;
    font-family: 'Roboto', sans-serif;
}

.react-datepicker__day--selected {
    background: #9ee5d5;
}

.react-datepicker__day--selected:hover {
    background: #9ee5d5;
}
